<div>
  <a href="/admin/gallery/<%= category %>/new">
    <button type="button" class='upload-btn'>上传图片</button>
  </a>
</div>
<div class="admin-pictures">
  <ul>
    <%= render partial: 'admin/gallery/common/picture', collection: @pictures %>
  </ul>
</div>
<div class='paginate'>
  <%= will_paginate @pictures, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-sort', editGallery);
    $(document).on('click', '#js-update-gallery', updateGallery);
  });

  function editGallery() {
    insertFloatWindow('<%= j render "admin/gallery/common/sort" %>');
    $('#js-update-gallery').data('id', $(this).parent().data('id'));
  }
</script>
