<div class="sweet-alert show-input showSweetAlert visible" data-animation="slide-from-top" style="display: block; margin-top: -256px;">
  <h2>排序<%= @chinese_category %>图片</h2>
  <%= form_tag('', method: :put, id: 'galleryForm') do %>
  <%= select_tag 'sort_id', options_for_select(options("张")), include_blank: "无排序" %>
  <% end %>
  <div class="sa-button-container">
    <button id='js-cancel' class="cancel" style="display: inline-block;">取消</button>
    <button id='js-update-gallery' class="confirm confirm-btn">确定</button>
  </div>
</div>
