<div class="sweet-alert show-input showSweetAlert visible" data-animation="slide-from-top" style="display: block; margin-top: -256px;">
  <h2>排序图片</h2>
  <%= form_tag('', method: :put, id: 'bannerForm') do %>
    <select name="sort_id">
      <% @limit.times do |i| %>
        <option value='<%= i+1 %>'>排序为第<%= i+1 %>张图片</option>
      <% end %>
    </select>
  <% end %>
  <div class="sa-button-container">
    <button id='js-cancel' class="cancel" style="display: inline-block;">取消</button>
    <button id='js-update-banner' class="confirm confirm-btn">确定</button>
  </div>
</div>
