<div>
  <a href="/admin/banners/new">
    <button type="button" class='upload-btn'>
      上传图片
    </button>
  </a>
</div>
<div class="admin-pictures">
  <ul>
    <%= render partial: 'banner', collection: @banners %>
  </ul>
</div>
<div class='paginate'>
  <%= will_paginate @banners, class: 'apple_pagination', previous_label: '上一页', next_label: '下一页' %>
</div>
<script type="text/javascript">
  $(function() {
    $(document).on('click', '.js-sort', editBanner);
    $(document).on('click', '#js-update-banner', updateBanner);
  });

  function editBanner() {
    insertFloatWindow('<%= j render "sort" %>');
    $('#js-update-banner').data('id', $(this).parent().data('id'));
  }

  function updateBanner() {
    $('#bannerForm').attr('action', '/admin/banners/'+ $(this).data('id')).submit();
  }

</script>
