<div>
  <a href="/admin/gallery/fixed_wings/new">
    <button type="button" class='upload-btn'>
      上传图片
    </button>
  </a>
</div>
<%= render 'admin/gallery/common/index' %>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '#js-update-gallery', updateGallery);
  });

  function updateGallery() {
    $('#galleryForm').attr('action', '/admin/gallery/fixed_wings/'+ $(this).data('id')).submit();
  }
</script>
