<div id="odiv" style="display:none;position:absolute;z-index:100;">
  <img src="/images/sx.png" title="缩小" border="0" alt="缩小" onclick="sub(-1);"/>
  <img src="/images/fd.png" title="放大" border="0" alt="放大" onclick="sub(1)"/>
  <img src="/images/cz.png" title="重置" border="0" alt="重置" onclick="sub(0)"/>
  <img src="/images/sc.png" title="删除" border="0" alt="删除" onclick="del();odiv.style.display='none';"/>
</div>
