<div class="admin-articles-wrap">
  <div class="items">
    <% @articles.each do |article| %>
      <div class="item">
        <div class="text">
          <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
          <span class="date"><%= article.created_at.strftime('%Y-%m-%d') %></span>
          <a href="/admin/articles/<%= article.id %>/edit" class='article-edit'><i class="fa fa-pencil"></i></a>
          <%= link_to article.title, article_path(article), class: 'article-title' %>
          <p class="operation">
            <a href="#" class="fa fa-thumbs-o-up">366</a>
            <a href="#" class="fa fa-star-o">366</a>
            <a href="#" class="fa fa-twitch ">18</a>
          </p>
        </div>
        <div class="img">
          <%= article.content[/\<img(.*?)\>/].try(:html_safe) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
