<div class="item">
  <div class="text">
    <span class="date">
      管理员发布于<span><%= article.created_at.strftime('%Y年%m月%d日 %H时%M分') %></span>
    </span>
    <div>
      <%= link_to article.title, article_path(article), class: 'article-title' %>
    </div>
    <p class="operation">
      <%= render '/common/collect_info', resource: article %>
    </p>
  </div>
  <div class="img">
    <%= article.content[/\<img(.*?)\>/].try(:html_safe) %>
  </div>
</div>
