<div class="guide-reading" style='margin-top: 56px;'>
  <div class="title">
    <h2>精选导读</h2>
    <div class="search">
      <%= form_tag(articles_path, method: :get) do %>
        <%= text_field_tag 'q[title_cont]', @search[:title], class: 'search-input' %>
        <a class="btn-search" href="javascript:void(0)" onClick="$(this).closest('form').submit()">
          <i class="fa fa-search"></i>
        </a>
      <% end %>
    </div>
  </div>
  <div class="items">
    <%= render @articles %>
  </div>
</div>
<div class="paginate" style='margin-bottom: 56px;'>
  <%= will_paginate @articles %>
</div>
