<div class="content">
  <div class="guide-reading">
    <div class="title">
      <h2>精选导读</h2>
      <div class="search">
        <input type="text" value="" class="search-input">
        <a class="btn-search" href="#"><i class="fa fa-search"></i></a>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <div class="text">
          <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
          <span class="date">2016-03-08</span>
          <a class="article-title" href="show.html">如何分辨柴犬与秋田犬</a>
          <p class="operation">
            <a href="#" class="fa fa-thumbs-o-up ">366</a>
            <a href="#" class="fa fa-star-o">366</a>
            <a href="#" class="fa fa-twitch ">18</a>
          </p>
        </div>
        <div class="img">
          <img src="../../img/plane_01.jpg" alt="">
        </div>
      </div>

      <div class="item">
        <div class="text">
          <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
          <span class="date">2016-03-08</span>
          <h2 class="article-title">如何分辨柴犬与秋田犬</h2>
          <p class="operation">
            <a href="#" class="fa fa-thumbs-o-up ">366</a>
            <a href="#" class="fa fa-star-o">366</a>
            <a href="#" class="fa fa-twitch ">18</a>
          </p>
        </div>
        <div class="img">
          <img src="../../img/plane_01.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
