<div class="content">
  <div class="infos">
    <div class="title">
      <div class="text">
        <h2>如何分辨柴犬和秋田犬</h2>
        <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
        <span class="date">发表于  2016-03-08</span>
      </div>
      <div class="operation">
        <a href="#" class="fa fa-thumbs-o-up ">366</a>
        <a href="#" class="fa fa-star-o">366</a>
        <a href="#" class="fa fa-twitch ">18</a>
      </div>
    </div>

    <div class="details">
      <img src="../../img/plane.jpg" alt="">
      <p>
        秋田犬的祖先犬是被称为“秋田玛塔吉”（秋田マタギ）的“玛塔吉犬”（マタギ犬，山地狩猎犬）[1]  。原本在日本犬中是不存在大型犬的，而秋田玛塔吉为中型的猎熊犬。江户时代出羽国北部的秋田地方被佐竹氏平定。佐竹氏是关原之战后被常陆国转封的旁系诸侯。在庆长年间的1630年（宽永7年）左右，为了培养提升藩士斗志而提供斗犬作为奖励，这些斗犬便是让猎犬与秋田地区的土犬进行交配后生育。此一犬种成为秋田犬的原种，但在当时的大馆、能带地区被称为“大馆犬”。
        过去只有皇族和贵族才可以拥有秋田犬。在正式的仪式上，人们会宣布照顾和饲养秋田犬的正确方法。栓犬的皮带不同，代表秋田犬的等级和主人的地位不同。人们在谈及秋田犬的时候都用特定的称呼。每头秋田犬都有专人照料，这个人穿着与被照料的犬地位相当的华丽服饰。
        由于当权者的喜好变化，对秋田犬的兴趣时高时低。在接下来的300年中，秋田犬几次面临绝种。幸运的是，人们对秋田犬的喜爱使得他们安然度过明治时代。20世纪初日本昭和年间，日本国内开始逐步禁止斗犬，秋田犬饲养量剧减，后经有人提倡保护而被誉为国犬。
        1927年，日本着手保护纯种犬。1931年7月，日本政府将秋田犬定为国家的象征。在世界各地，它现在已经成为了家庭犬，并且受到了人们的喜欢。如今，一只刚出生的纯种小秋田犬，市场售价约为20万日元（约合12000元人民币）。[2]
        美国的秋田犬
        海伦·凯勒（Helen Keller）是第一个将秋田犬带到美国的人。1937年，她访问日本时，教育大臣将一头两个月龄的小秋田犬送给她。后来这头犬死了，教育大臣又送给她另一头秋田犬。 秋田犬在美国的普及是在二战之后。这要归功于美国的军人们，他们非常喜爱这种聪明而且适应能力极强的犬。在战争结束后，军人们将秋田犬带回家乡饲养。美国的秋田犬俱乐部成立于1956年，1972年10月美国犬业俱乐部正式承认秋田犬，并于1973年4月3日起正式参加工作犬组的展出。
        柴犬与秋田犬都是日本比较受欢迎的宠物狗，在日本的许多城市和郊区都可以看见它们的身影，近些年来也渐渐的走进了中国。它们都非常的机警聪明，最擅长的就是狩猎，有着很高的智商，但是它们在外形上是十分相似的。如果想要正确的区分柴犬与秋田犬，还需要我们仔细观察，认真辨别了。[3]
        外形特点
        我们首先来对比一下柴犬和秋田犬的外形，柴犬的整体身形要比秋田犬小，简单的说柴犬就像是秋田犬的缩小版。柴犬的体型中等，肌肉厚实，四肢非常的发达，小小的身体灵活好动，一只公柴犬的标准体重是39.5公斤。幼犬看起来非常的美，而且大，头顶三角形的耳朵稍稍向前倾，眼睛稍小呈椭圆形。秋田犬看起来巨大有力，一只公秋田犬的标准体重为66.7公斤，它的头部呈三角形，眼睛小而圆，两耳直立，与后颈部在一条直线上，这是秋田犬的特征之一，另一个特征是尾巴大卷曲程度大，与宽阔的头部对称。
        四肢
        仔细观看我们就会发现秋田犬与柴犬的四肢也是有区别的，柴犬的前肢笔直，后肢的肌肉结实紧密。而秋田犬从正面看前肢是直的，骨骼结实强大，后肢的肌肉较多，而且较为发达的当属后肢了。但是如果从侧面观看秋田犬的前肢就不那么直了。
        脚
        看完了四肢，我们接下来观察一下它们的脚有什么不一样的地方，首先来说说柴犬，它的前足类似于我们常见的猫的脚，脚趾是圆形的，脚垫厚实紧凑。前脚还会有一对狼爪，这个狼爪是可以切除的，后脚上则没有这样的狼爪。秋田犬的前后脚与猫脚都是极为相似的，没有狼爪。
      </p>
    </div>

    <div class="comment">
      <div class="comment-title">
        <h2>所有评论<span class="count">(18)</span></h2>
      </div>

      <div class="items">
        <div class="item">
          <img src="../../img/person.jpg" alt="">
          <div class="user-comment">
            <div class="arrow">
              <em></em>
              <span class=""></span>
            </div>
            <div class="user-title"><b>至尊宝</b> <span><i class="fa fa-clock-o "></i>2016-03-18 <b>18:30:00</b></span></div>
            <p>
              柴犬与秋田犬是日本比较受欢迎的宠物狗，在日本的许多城市和郊区都可以看见他们的身影，近些年来也渐渐走进中国。他们都非常地机警聪明，最擅长的就是狩猎，
              有着很高的智商，但是他们在外形上是十分相似的，如果想要正确的区分柴犬和秋田犬，还需要我们仔细观察，认真辨认。
            </p>

            <div class="other-users">
              <div class="other-user">

                <img src="../../img/person.jpg" alt="">
                <div class="other-comment">
                  <div class="arrow">
                    <em></em>
                    <span class=""></span>
                  </div>
                  <div class="user-title"><b>至尊宝</b> <span><i class="fa fa-clock-o "></i>2016-03-18 <b>18:30:00</b></span></div>
                  <p>
                    柴犬与秋田犬是日本比较受欢迎的宠物狗，在日本的许多城市和郊区都可以看见他们的身影，近些年来也渐渐走进中国。他们都非常地机警聪明，最擅长的就是狩猎，
                    有着很高的智商，但是他们在外形上是十分相似的，如果想要正确的区分柴犬和秋田犬，还需要我们仔细观察，认真辨认。
                  </p>
                </div>
              </div>

            </div>

            <div class="reply">
              <a href="#">回复</a>
            </div>

          </div>
        </div>

        <div class="replay-box">
          <textarea rows="8" cols="40"></textarea>
          <div class="btn-group">
            <span>表情</span>
            <button name="button" class="btn-submit">提交</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
