<div class="sweet-alert show-input showSweetAlert visible" data-animation="slide-from-top" style="display: block; margin-top: -256px;">
  <h2>上传头像</h2>
  <div id="preview">
    <img id="imghead" width=100% height=auto border=0>
  </div>
  <%= form_for @user, url: upload_user_path(@user), method: :put do |f| %>
    <a href="javascript: void(0)" class='file' style='margin-top: 10px;'>
      选择文件<%= f.file_field :avatar, onChange: 'previewImage(this)', required: true %>
    </a>
    <div class="sa-button-container">
      <button id='js-cancel' class="cancel" style="display: inline-block;">取消</button>
      <%= f.button '上传', class: 'confirm confirm-btn' %>
    </div>
  <% end %>
</div>
