<div class="replay-box">
  <%= form_tag("/#{@resource.class.to_s.downcase.pluralize}/#{@resource.id}/comments") do %>
    <%= hidden_field_tag :parent_id %>
    <textarea rows="8" cols="40" name='content' ></textarea>
    <div class="btn-group">
      <span>表情</span>
      <button type="button" class='btn-submit' id='js-reply'>提交</button>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('#js-reply').on('click', replyComment);
  });

  function replyComment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("回复失败!", "请登录后回复!", "warning");
  }
</script>
