<div class="guide-reading" style='margin-top: 56px;'>
  <div class="title">
    <h2><%= category %></h2>
    <div class="search">
      <%= form_tag("/videos/#{action_name}", method: :get) do %>
        <%= text_field_tag 'q[title_cont]', @title, class: 'search-input' %>
        <a class="btn-search" href="javascript:void(0)" onClick="$(this).closest('form').submit()">
          <i class="fa fa-search"></i>
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="video-items">
  <%= render @videos %>
</div>
