<div class="video-item">
  <div class="item">
    <a href="/videos/<%= video.id %>">
      <img src="<%= video.image.normal.url %>" class='item' />
      <span class="thumb_overlay fa fa-play-circle-o"></span>
    </a>
    <h3 class="title"><%= video.description %></h3>
  </div>
  <div class="fns">
    <%= render '/videos/video_info', video: video %>
  </div>
</div>
