
<div class="content">
  <div class="video-list">
    <div class="title">
      <h2><%= title %></h2>
      <div class="search">
        <input type="text" name="name" value="">
        <a class="btn-search" href="#"><i class="fa fa-search"></i></a>
      </div>
    </div>

    <div class="video-items">
      <% videos.each do |video| %>
        <%= render 'video', video: video %>
      <% end %>
    </div>
  </div>
</div>
