<div class="video-list">
  <div class="title">
    <h2><%= category %></h2>
    <div class="search">
      <%= form_tag("/videos/#{action_name}", method: :get) do %>
        <%= text_field_tag 'q[description_cont]', @search %>
        <a class="btn-search" href="javascript:void(0)" onClick="$(this).closest('form').submit();">
          <i class="fa fa-search"></i>
        </a>
      <% end %>
    </div>
  </div>

  <div class="video-items">
    <% videos.each do |video| %>
      <%= render 'video', video: video %>
    <% end %>
  </div>
</div>
