<div class="video-item">
  <div class="item">
    <a href="/videos/<%= video.id %>">
      <img src="<%= video.image.normal.url %>" class='item' />
      <span class="thumb_overlay fa fa-play-circle-o"></span>
    </a>
    <h3 class="title"><%= video.description %></h3>
  </div>
  <div class="fns">
    <a href="javascript:void(0)" class="fn-follow">
      <i class="fa fa-heart"></i>
      <span>300</span>
    </a>
    <a href="javascript:void(0)">
      <i class="fa fa-comment"></i>
      <span>300</span>
    </a>
  </div>
</div>
