<a href="javascript:void(0)" class="setting">
  <i class="fa fa-bars"></i>
</a>
<div class="content">
  <div class="video-list">
    <div class="title">
      <h2>视频赏析</h2>
    </div>

    <div class="video-items">
      <div class="clasification">
        <% @videos.each do |video| %>
          <h2><%= video[:type] %></h2>
          <% video[:lists].each do |v| %>
            <div class="video-item">
              <%= image_tag 'logo.jpg', class: 'item cursor-pointer' %>
              <h3 class="title"><%= v.description %></h3>
              <div class="fns">
                <a href="javascript:void(0)" class="fn-follow">
                  <i class="fa fa-heart"></i>
                  <span>300</span>
                </a>
                <a href="javascript:void(0)">
                  <i class="fa fa-comment"></i>
                  <span>300</span>
                </a>
              </div>
            </div>
          <% end %>

          <div class="more-video">
            <a href="/videos/<%= video[:english_type] %>", target="_blank">
              更多视频
              <i class="fa fa-chevron-circle-right"></i>
            </a>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
