<div class="content">
  <div class="infos">
    <div class="title">
      <div class="text">
        <h2><%= @video.description %></h2>
        <a href="#" class="username">心有猛虎，细嗅蔷薇</a>
        <span class="date">发表于  2016-03-08</span>
      </div>
      <div class="operation">
        <a href="#" class="fa fa-thumbs-o-up ">366</a>
        <a href="#" class="fa fa-star-o">366</a>
        <a href="#" class="fa fa-twitch ">18</a>
      </div>
    </div>

    <div class="video">
      <embed src="<%= @video.url %>" width="900" height="500">
      </embed>
    </div>

    <%= render '/videos/comments/comments' %>

  </div>
</div>
