<div class="classic-fighter">
  <h2>经典战机</h2>
  <ul>
    <% @battle_planes.each do |battle_plane| %>
      <li>
        <h2><%= battle_plane.title %></h2>
        <p><%=  battle_plane.content %></p>
      </li>
    <% end %>
  </ul>
</div>
