<% @fixed_wings.each do |fixed_wing| %>
  <li>
    <a href="<%= fixed_wing.resource.large.url %>" class="fancybox thumb" rel="gallery1">
      <img src="<%= fixed_wing.resource.small.url %>", class='circle' />
      <span class="thumb_overlay"></span>
    </a>
  </li>
<% end %>
