<div class="floatwindow">
  <div class="fancybox-wrap">
    <div class="fancybox-skin">
      <div class="fancybox-outer">
        <%= image_tag 'top-0.jpg', class: 'fancybox-image' %>
      </div>
    </div>
  </div>
</div>
