<% @fpvs.each do |fpv| %>
  <li>
    <a href="<%= fpv.resource.large.url %>" class="fancybox thumb" rel="gallery1">
      <img src="<%= fpv.resource.normal.url %>" class="circle" />
      <span class="thumb_overlay"></span>
    </a>
  </li>
<% end %>
