<% @gliders.each do |glider| %>
  <li>
    <a href="<%= glider.resource.url %>" class="fancybox thumb" rel="gallery1">
      <img src="<%= glider.resource.small.url %>" class="circle" />
      <span class="thumb_overlay"></span>
    </a>
  </li>
<% end %>
