<li>
  <a href="<%= picture.resource.large.url %>" class="fancybox thumb" rel="gallery1">
    <img src="<%= picture.resource.normal.url %>", class='circle' />
    <span class="thumb_overlay"></span>
  </a>
</li>
