<div class="video">
  <h2>今日视频</h2>
  <div class="video_thumb">
    <embed src="http://player.youku.com/player.php/sid/XMzI2NTc4NTMy/v.swf"
      width="990" height="520" type="application/x-shockwave-flash">
    </embed>
  </div>
</div>
