<div class="video-homepage">
  <h2>今日视频</h2>
  <div class="video_thumb">
    <embed src="<%= @video.try(:url) %>" width="920" height="520" allowFullScreen='true' quality='high' type='application/x-shockwave-flash'>
    </embed>
  </div>
</div>
