<div class="video">
  <h2>今日视频</h2>
  <div class="video_thumb">
    <object data="<%= @video.url %>"
      type="application/x-shockwave-flash" width="980" height="560">
    </object>
  </div>
</div>
