<div class="main">
  <div class="banner">
    <div class="img">
      <%= image_tag 'image1.jpg' %>
      <div class="logo">
        <%= image_tag 'logo.jpg' %>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="thumbs">
      <div class="thumb circle">
        <img src="../img/plane_01.jpg" />
      </div>
      <div class="thumb circle">
        <img src="../img/plane_thumb.jpg" />
      </div>
      <div class="thumb circle">
        <img src="../img/plane_thumb.jpg"/>
      </div>
    </div>

    <div class="maxim">
      <h2>航模箴言</h2>
      <p>航模爱好趣无穷,正确操纵是关键.莫把器材当玩具,忽视安全悔一生。</p>
      <p>新年好问勤联系,远离人群勿炫耀.天下模友一家人,共建美好新生活。</p>
    </div>

    <div class="classic-fighter">
      <h2>经典战机</h2>
      <ul>
        <li>
          <h2>T45</h2>
          <p>F-22“猛禽”（英语：F-22 Raptor）战斗机是由美国洛克希德·马丁和波音联合研制的单座双发高隐身性第五代战斗机。F-22是世界上第一种进入服役的第五代战斗机。
F-22于本世纪初期陆续进入美国空军服役，以取代上一代的主力机种F-15鹰式战斗机。洛克希德·马丁为主承包商，负责设计大部分机身、武器系统和F-22的最终组装。计划合作伙伴波音则提供机翼、后机身、航空电子综合系统和培训系统。洛克希德·马丁公司宣称，猛禽的隐身性能、灵敏性、精确度和态势感知能力结合，组合其空对空和空对地作战能力，使得它成为当今世界综合性能最佳的战斗机。
</p>
        </li>
        <li>
          <h2>T45</h2>
          <p>F-22“猛禽”（英语：F-22 Raptor）战斗机是由美国洛克希德·马丁和波音联合研制的单座双发高隐身性第五代战斗机。F-22是世界上第一种进入服役的第五代战斗机。
F-22于本世纪初期陆续进入美国空军服役，以取代上一代的主力机种F-15鹰式战斗机。洛克希德·马丁为主承包商，负责设计大部分机身、武器系统和F-22的最终组装。计划合作伙伴波音则提供机翼、后机身、航空电子综合系统和培训系统。洛克希德·马丁公司宣称，猛禽的隐身性能、灵敏性、精确度和态势感知能力结合，组合其空对空和空对地作战能力，使得它成为当今世界综合性能最佳的战斗机。
</p>
        </li>
        <li>
          <h2>T45</h2>
          <p>F-22“猛禽”（英语：F-22 Raptor）战斗机是由美国洛克希德·马丁和波音联合研制的单座双发高隐身性第五代战斗机。F-22是世界上第一种进入服役的第五代战斗机。
F-22于本世纪初期陆续进入美国空军服役，以取代上一代的主力机种F-15鹰式战斗机。洛克希德·马丁为主承包商，负责设计大部分机身、武器系统和F-22的最终组装。计划合作伙伴波音则提供机翼、后机身、航空电子综合系统和培训系统。洛克希德·马丁公司宣称，猛禽的隐身性能、灵敏性、精确度和态势感知能力结合，组合其空对空和空对地作战能力，使得它成为当今世界综合性能最佳的战斗机。
</p>
        </li>
      </ul>
    </div>

    <div class="picture">
      <h2>精彩图片</h2>
      <ul class="picture_nav">
        <li class="active">固定翼</li>
        <li>滑翔机</li>
        <li>直升机</li>
        <li>穿越机</li>
      </ul>

      <div class="img">
        <ul>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
          <li>
            <a href="#" class=" thumb">
              <img src="../img/plane_01.jpg" alt="" class="circle" />
              <span class="thumb_overlay"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="synopsis">
      <h2>你不懂玩航模的人</h2>
      <p>
        你不懂玩模型的人，你不懂一群年龄相差十几岁甚至几十岁的老少爷们有什么能聊到一块的，其实能吸引我们聚集在一起的不是什么兰博基尼、劳斯莱斯，而是一架450的小电直或者EPO的塞斯纳，就这么简单。 你不懂玩模型的人，我们不拼爹不啃老，靠我们的双手坚持我们的爱好，但是却常常被局外人冠以＂富二代＂的称号，也许你觉得我们很有钱才会玩这个，其实你不知道我们很少抽烟喝酒，从不去歌厅酒吧甚至不会打麻将斗地主，空闲的时候我们总是在精心维护我们的飞机，苦练我们的飞行技术，我们把每一笔钱都花在我们的模型上，却甚至舍不得给自己买件衣服，我们没那么多酒肉朋友，所以没有那么多吃喝玩乐的开销，我们的圈子里不分年纪大小，不分贫贱富贵，技术好的就是师傅，虽然都来自不同的行业、不同的环境但我们都同样的飞行梦。你不懂玩模型的人，所以你不知道玩航模其实是很辛苦的，是需要有毅力才能坚持下去的的事情，在外场飞一天只能吃面包喝凉水，能来上一碗泡面就算是件很幸福的事了，夏天的时候飞完模型回到家的时候才发现胳膊已经被晒的通红不敢去触碰，冬天的时候因为要操纵飞机我们不能带手套，即使手再冷也得坚持不敢马虎，直到飞机安全落地，才赶紧把冻僵的双手揣进口袋。你不懂玩航模的人，所以你不知道3DHS、DLE、双天、JR、FUTABA，我们不懂那些名牌服装，也没有所谓的男神女神，虽然不懂娱乐圈里的俊男靓女但我们都知道QQ、克里斯托弗、史胖子、丹尼尔，他们中有的年纪甚至不到20岁但在我们心中他们都是神，都是大明星。你不懂玩模型的人，你不懂502、302所以你猜不透为啥我们的衣服上总是有那么多的硬疙瘩，而且手指总是脏兮兮的，你也体会不到闲暇的时候一点点撕掉手上凝固的胶水是一件多么有趣的事情。你不懂玩模型的人，所以你不知道摔飞机后我们总说的那句＂没事＂背后隐藏的心情，我们知道精彩的背后一定是坚辛的付出，不经历挫折就不会有成功。也许只有玩模型的人才会体会到自己做的飞机第一次离地时的激动心情，一帮人在野地里转悠一天找到新飞场时的兴奋呐喊，当我们操飞机在蓝天上做出各种眩目帅气的动作时没有小女生的尖叫和呼喊，没有众人赞许的眼光，最多的情况观众就是自己，其实我们也不在乎这些，生活不是演戏，自己精彩就好！我们不敢说自己有什么伟大理想但至少我们有自己的梦想，这就是我们玩模型的人，这就是我们的生活......
      </p>
      <h3>---献给所怀揣飞行梦的人</h3>
    </div>

    <div class="video">
      <h2>今日视频</h2>
      <div class="video_thumb">
      </div>
    </div>
  </div>

  <div class="foot">
    <img src="../img/foot.jpg" alt="" />
  </div>
  <a class="back-top" href="" target="_top">
    <i class=" fa-arrow-up fa"></i>返回顶部
  </a>
  <a href="#" class="setting"><i class="fa fa-bars"></i></a>
</div>
