<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      $(".fancybox").fancybox();
    });
  </script>
<% end %>
<div class="maxim">
  <h2>航模箴言</h2>
  <p>航模爱好趣无穷，正确操纵是关键。莫把器材当玩具，忽视安全悔一生。</p>
  <p>新年好问勤联系，远离人群勿炫耀。天下模友一家人，共建美好新生活。</p>
</div>

<div class="classic-fighter">
  <h2>经典战机</h2>
  <ul>
    <% @fighter_planes.each do |fighter_plane| %>
      <li>
        <h2><%= fighter_plane.title %></h2>
        <p><%=  fighter_plane.content %></p>
      </li>
    <% end %>
  </ul>
</div>

<%= render 'gallery' %>

<%= render 'paragraph' %>

<div class="video">
  <h2>今日视频</h2>
  <div class="video_thumb">
    <embed height="570" width="1050" class="player" allowFullScreenInteractive="true" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" AllowScriptAccess="always" rel="noreferrer" flashvars="type=page&url=http://www.acfun.tv/v/ac2615847" src="http://cdn.aixifan.com/player/ACFlashPlayer.out.swf" type="application/x-shockwave-flash" allowfullscreen="true" quality="high" wmode="window"></embed>
  </div>
</div>
