emptyFloatWindow();
<% if @user.limit? %>
  $('#js-user-<%= @user.id %>').find('td:eq(6)').html("<%= @user.limit_info %>");
  $('#js-user-<%= @user.id %>').find('td:eq(7)').html(<%= raw('<a href="javascript:void(0)" class="js-release operate">解封</a>'.to_json) %>);
  swal("封号成功!", "", "success");
<% else %>
  swal("封号失败!", "", "error");
<% end %>
