<p>Hello <%= @user.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to '修改密码', edit_password_url(@user, reset_password_token: @token) %></p>
