<div class='users'>
  <table>
    <thead>
      <tr>
        <th>序号</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>注册日期</th>
        <th>角色</th>
        <th>状态</th>
        <th>操作</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
