<div class="sweet-alert show-input showSweetAlert visible" data-animation="slide-from-top" style="display: block; margin-top: -256px;">
  <h2>可进行的操作</h2>
  <div class="sa-button-container">
    <button id='js-cancel' class="cancel" style="display: inline-block;">取消</button>
    <button id='js-set-homepage' class="confirm confirm-btn">设为今日视频</button>
    <a href="javascript:void(0)" style='color: #fff;' class='js-edit'>
      <button class="confirm confirm-btn">编辑</button>
    </a>
  </div>
</div>
