<div class="page-nav">
  <ul>
    <li>后台管理</li>
    <li><i class="fa fa-angle-right"></i></li>
    <li>视频操作</li>
  </ul>
</div>

<div class="select-videos">
  视频类别:
  <select>
    <option value="1">全部</option>
    <option value="2">固定翼</option>
    <option value="3">滑翔机</option>
    <option value="4">直升机</option>
    <option value="5">穿越机</option>
  </select>
</div>

<div class="video-items margin-left-20">
  <% 5.times.each do %>
    <div class="video-item">
      <a href="javascript:void(0)">
        <%= image_tag('logo.jpg', class: 'item') %>
      </a>
      <h3 class="title">见过这样的飞机么</h3>
      <div class="fns">
        <a href="#" class="fn-follow">
          <i class="fa fa-heart"></i>
          <span>300</span>
        </a>
        <a href="#">
          <i class="fa fa-comment"></i>
          <span>300</span>
        </a>
      </div>
    </div>
  <% end %>
</div>
