<div class="comment">
  <div class="comment-title">
    <h2>所有评论<span class="count">(18)</span></h2>
  </div>

  <div class="items">
    <div class="item">
      <img src="../../img/person.jpg" alt="">
      <div class="user-comment">
        <div class="arrow">
          <em></em>
          <span class=""></span>
        </div>
        <div class="user-title"><b>至尊宝</b> <span><i class="fa fa-clock-o "></i>2016-03-18 <b>18:30:00</b></span></div>
        <p>
          柴犬与秋田犬是日本比较受欢迎的宠物狗，在日本的许多城市和郊区都可以看见他们的身影，近些年来也渐渐走进中国。他们都非常地机警聪明，最擅长的就是狩猎，
          有着很高的智商，但是他们在外形上是十分相似的，如果想要正确的区分柴犬和秋田犬，还需要我们仔细观察，认真辨认。
        </p>

        <div class="other-users">
          <div class="other-user">

            <img src="../../img/person.jpg" alt="">
            <div class="other-comment">
              <div class="arrow">
                <em></em>
                <span class=""></span>
              </div>
              <div class="user-title"><b>至尊宝</b> <span><i class="fa fa-clock-o "></i>2016-03-18 <b>18:30:00</b></span></div>
              <p>
                柴犬与秋田犬是日本比较受欢迎的宠物狗，在日本的许多城市和郊区都可以看见他们的身影，近些年来也渐渐走进中国。他们都非常地机警聪明，最擅长的就是狩猎，
                有着很高的智商，但是他们在外形上是十分相似的，如果想要正确的区分柴犬和秋田犬，还需要我们仔细观察，认真辨认。
              </p>
            </div>
          </div>

        </div>

        <div class="reply">
          <a href="#">回复</a>
        </div>

      </div>
    </div>

    <div class="replay-box">
      <textarea rows="8" cols="40"></textarea>
      <div class="btn-group">
        <span>表情</span>
        <button name="button" class="btn-submit">提交</button>
      </div>
    </div>
  </div>

</div>
