<div class="foot">
  <!-- <img data-original="/images/bottom.jpg" alt="" class="lazy" /> -->
  <div class="record"><a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备16015999号</a></div>
</div>
<!-- <a class="back-top" href="" target="_top">
  <i class=" fa-arrow-up fa"></i>返回顶部
</a> -->
