<div class="left-sidebar-wrap">
  <div class="left-sidebar">
    <div>
      <%= image_tag 'ddd_01.jpg' %>
      <%= image_tag 'ddd_02.jpg' %>
      <%= image_tag 'ddd_03.jpg' %>
      <%= image_tag 'ddd_04.jpg' %>
    </div>
    <div class="left-sidebar-title">
      基本管理
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li>网站配置</li>
    		<li>管理设置</li>
        <li>导航菜单</li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      文章模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li>管理文章</li>
    		<li>文章分类</li>
        <li>添加文章</li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      图片模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li>查看所有用户</li>
    		<li>图片分类</li>
        <li>添加图片</li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      视频模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
        <a href="/admin/videos"><li>所有视频</li></a>
    		<li>视频</li>
        <li>视频</li>
        <li>视频</li>
      </ul>
    </div>
    <div class="left-sidebar-title">
      用户模块
    </div>
    <div class="left-sidebar-detail">
      <ul>
    		<li>文章模块</li>
    		<li>视频模块</li>
        <li>用户模块</li>
        <li>招聘系统</li>
      </ul>
    </div>

  </div>
</div>
