<div class="sidebar">
  <div class="sidebar-top">
    <div class="img">
      <%= image_tag 'nav.jpg' %>
    </div>
    <div class="user-info">
      <span class="name">巴尔德斯&塞尚</span>
      <div class="message"><a>消息 <span class="number">(6)</span></a>|<a href="https://www.baidu.com">退出</a></div>
    </div>
    <div class="dropdown" style="display:none">
      <ul>
        <li><a href="#">登陆</a></li>
        <li><span>|</span></li>
        <li><a href="#">注册</a></li>
      </ul>
    </div>
  </div>

  <div class="nav">
    <ul>
      <li class="active"><a href="#">主页</a></li>
      <li><a href="#">文章专区</a></li>
      <li><a href="#">视频专区</a></li>
      <li>
        <a href="#" class="rd-width-ul"><span>其他板块</span><span class="fa fa-chevron-down submenu-toggle"></span></a>
        <ul class="sub-nav">
          <li><a href="#">地区交流区</a></li>
          <li><a href="#">闲置物品交易区</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
