<div class="floatwindow" style="display:none">
  <div class="fancybox-wrap">
    <div class="fancybox-skin">
      <div class="fancybox-outer">
        <img src="../img/plane_01.jpg" alt="" class="fancybox-image" />
      </div>
    </div>
  </div>
</div>
