<div class="comment-box">
  <%= form_tag(video_comments_path(@video)) do %>
    <textarea rows="8" cols="40" name='content'></textarea>
    <div class="btn-group">
      <span>表情</span>
      <button type="button" class='btn-submit' id='js-publish'>发表评论</button>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('#js-publish').on('click', publishComment);
  });

  function publishComment() {
    if(<%= current_user.present? %>)
      $(this).closest('form').submit();
    else
      swal("评论失败!", "请登录后评论!", "info");
  }
</script>
