<div class="user-right">
  <div class="user-nav">
    <a href="/users/<%= @user.id %>/account/comments"><i class="fa fa-comments"></i>我评论的</a>
    <a href="/users/<%= @user.id %>/collections/articles"><i class="fa fa-comments-o"></i>回复我的</a>
  </div>
  <div class="user-collections">
    
  </div>
</div>
