<div class="user-right">
  <div class="user-nav">
    <a href="/users/<%= @user.id %>/account/comments"><i class="fa fa-comments"></i>我评论的</a>
    <a href="/users/<%= @user.id %>/collections/articles"><i class="fa fa-comments-o"></i>回复我的</a>
  </div>
  <div class="user-collections" style='margin-bottom: 100px;'>
    <%= render partial: 'comment', collection: @user.comments.normal %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.my-comment p').each(parseEmoji);
  });

  function parseEmoji() {
    var html = $(this).html();
    $(this).html(html.replace(/&lt;emt&gt;(\d{1,2})&lt;\/emt&gt;/g, '<img src="/images/emoji/$1.gif">'));
  }
</script>
